.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc
.vscode/settings.json
.DS_Store
suicide_project/main_files
.DS_Store
.DS_Store
suicide_project/stable_tree_bertsimas_files/libs/bootstrap/bootstrap-c0367b04c37547644fece4185067e4a7.min.css
suicide_project/stable_tree_bertsimas_files/libs/bootstrap/bootstrap-icons.css
suicide_project/stable_tree_bertsimas_files/libs/bootstrap/bootstrap-icons.woff
suicide_project/stable_tree_bertsimas_files/libs/bootstrap/bootstrap.min.js
suicide_project/stable_tree_bertsimas_files/libs/clipboard/clipboard.min.js
suicide_project/stable_tree_bertsimas_files/libs/quarto-html/anchor.min.js
suicide_project/stable_tree_bertsimas_files/libs/quarto-html/popper.min.js
suicide_project/stable_tree_bertsimas_files/libs/quarto-html/quarto-syntax-highlighting-2f5df379a58b258e96c21c0638c20c03.css
suicide_project/stable_tree_bertsimas_files/libs/quarto-html/quarto.js
suicide_project/stable_tree_bertsimas_files/libs/quarto-html/tippy.css
suicide_project/stable_tree_bertsimas_files/libs/quarto-html/tippy.umd.min.js
reference/~$otoftheProblem_ACCEPTEDVERSION.docx
docs/progress_report_files/libs/clipboard/clipboard.min.js
docs/progress_report_files/libs/quarto-html/light-border.css
docs/progress_report_files/libs/quarto-html/popper.min.js
docs/progress_report_files/libs/quarto-html/quarto-syntax-highlighting-2f5df379a58b258e96c21c0638c20c03.css
docs/progress_report_files/libs/quarto-html/tabby.min.js
docs/progress_report_files/libs/quarto-html/tippy.css
docs/progress_report_files/libs/quarto-html/tippy.umd.min.js
docs/progress_report_files/libs/revealjs/plugin/highlight/highlight.esm.js
docs/progress_report_files/libs/revealjs/plugin/highlight/highlight.js
docs/progress_report_files/libs/revealjs/plugin/highlight/monokai.css
docs/progress_report_files/libs/revealjs/plugin/highlight/plugin.js
docs/progress_report_files/libs/revealjs/plugin/highlight/zenburn.css
docs/progress_report_files/libs/revealjs/plugin/markdown/markdown.esm.js
docs/progress_report_files/libs/revealjs/plugin/markdown/markdown.js
docs/progress_report_files/libs/revealjs/plugin/markdown/plugin.js
docs/progress_report_files/libs/revealjs/plugin/math/katex.js
docs/progress_report_files/libs/revealjs/plugin/math/math.esm.js
docs/progress_report_files/libs/revealjs/plugin/math/math.js
docs/progress_report_files/libs/revealjs/plugin/math/mathjax2.js
docs/progress_report_files/libs/revealjs/plugin/math/mathjax3.js
docs/progress_report_files/libs/revealjs/plugin/math/plugin.js
docs/progress_report_files/libs/revealjs/plugin/notes/notes.esm.js
docs/progress_report_files/libs/revealjs/plugin/notes/notes.js
docs/progress_report_files/libs/revealjs/plugin/notes/plugin.js
docs/progress_report_files/libs/revealjs/plugin/notes/speaker-view.html
docs/progress_report_files/libs/revealjs/plugin/pdf-export/pdfexport.js
docs/progress_report_files/libs/revealjs/plugin/pdf-export/plugin.yml
docs/progress_report_files/libs/revealjs/plugin/quarto-line-highlight/line-highlight.css
docs/progress_report_files/libs/revealjs/plugin/quarto-line-highlight/line-highlight.js
docs/progress_report_files/libs/revealjs/plugin/quarto-line-highlight/plugin.yml
docs/progress_report_files/libs/revealjs/plugin/quarto-support/footer.css
docs/progress_report_files/libs/revealjs/plugin/quarto-support/plugin.yml
docs/progress_report_files/libs/revealjs/plugin/quarto-support/support.js
docs/progress_report_files/libs/revealjs/plugin/reveal-menu/menu.css
docs/progress_report_files/libs/revealjs/plugin/reveal-menu/menu.js
docs/progress_report_files/libs/revealjs/plugin/reveal-menu/plugin.yml
docs/progress_report_files/libs/revealjs/plugin/reveal-menu/quarto-menu.css
docs/progress_report_files/libs/revealjs/plugin/reveal-menu/quarto-menu.js
docs/progress_report_files/libs/revealjs/plugin/search/plugin.js
docs/progress_report_files/libs/revealjs/plugin/search/search.esm.js
docs/progress_report_files/libs/revealjs/plugin/search/search.js
docs/progress_report_files/libs/revealjs/plugin/zoom/plugin.js
docs/progress_report_files/libs/revealjs/plugin/zoom/zoom.esm.js
docs/progress_report_files/libs/revealjs/plugin/zoom/zoom.js
.gitignore
docs/progress_files/libs/clipboard/clipboard.min.js
docs/progress_files/libs/quarto-html/light-border.css
docs/progress_files/libs/quarto-html/popper.min.js
docs/progress_files/libs/quarto-html/quarto-syntax-highlighting-2f5df379a58b258e96c21c0638c20c03.css
docs/progress_files/libs/quarto-html/tabby.min.js
docs/progress_files/libs/quarto-html/tippy.css
docs/progress_files/libs/quarto-html/tippy.umd.min.js
docs/progress_files/libs/revealjs/plugin/highlight/highlight.esm.js
docs/progress_files/libs/revealjs/plugin/highlight/highlight.js
docs/progress_files/libs/revealjs/plugin/highlight/monokai.css
docs/progress_files/libs/revealjs/plugin/highlight/plugin.js
docs/progress_files/libs/revealjs/plugin/highlight/zenburn.css
docs/progress_files/libs/revealjs/plugin/markdown/markdown.esm.js
docs/progress_files/libs/revealjs/plugin/markdown/markdown.js
docs/progress_files/libs/revealjs/plugin/markdown/plugin.js
docs/progress_files/libs/revealjs/plugin/math/katex.js
docs/progress_files/libs/revealjs/plugin/math/math.esm.js
docs/progress_files/libs/revealjs/plugin/math/math.js
docs/progress_files/libs/revealjs/plugin/math/mathjax2.js
docs/progress_files/libs/revealjs/plugin/math/mathjax3.js
docs/progress_files/libs/revealjs/plugin/math/plugin.js
docs/progress_files/libs/revealjs/plugin/notes/notes.esm.js
docs/progress_files/libs/revealjs/plugin/notes/notes.js
docs/progress_files/libs/revealjs/plugin/notes/plugin.js
docs/progress_files/libs/revealjs/plugin/notes/speaker-view.html
docs/progress_files/libs/revealjs/plugin/pdf-export/pdfexport.js
docs/progress_files/libs/revealjs/plugin/pdf-export/plugin.yml
docs/progress_files/libs/revealjs/plugin/quarto-line-highlight/line-highlight.css
docs/progress_files/libs/revealjs/plugin/quarto-line-highlight/line-highlight.js
docs/progress_files/libs/revealjs/plugin/quarto-line-highlight/plugin.yml
docs/progress_files/libs/revealjs/plugin/quarto-support/footer.css
docs/progress_files/libs/revealjs/plugin/quarto-support/plugin.yml
docs/progress_files/libs/revealjs/plugin/quarto-support/support.js
docs/progress_files/libs/revealjs/plugin/reveal-menu/menu.css
docs/progress_files/libs/revealjs/plugin/reveal-menu/menu.js
docs/progress_files/libs/revealjs/plugin/reveal-menu/plugin.yml
docs/progress_files/libs/revealjs/plugin/reveal-menu/quarto-menu.css
docs/progress_files/libs/revealjs/plugin/reveal-menu/quarto-menu.js
docs/progress_files/libs/revealjs/plugin/search/plugin.js
docs/progress_files/libs/revealjs/plugin/search/search.esm.js
docs/progress_files/libs/revealjs/plugin/search/search.js
docs/progress_files/libs/revealjs/plugin/zoom/plugin.js
docs/progress_files/libs/revealjs/plugin/zoom/zoom.esm.js
docs/progress_files/libs/revealjs/plugin/zoom/zoom.js
.DS_Store
src/animations/llmanim.py
src/animations/start.py
src/animations/media/images/llmanim/train_ManimCE_v0.19.0.png
src/animations/media/texts/4dae85913a5670b6.svg
src/animations/media/texts/5dd658ada285442d.svg
src/animations/media/texts/6d5a7cb50cea8b6d.svg
src/animations/media/texts/8db2ec6aaa25aa04.svg
src/animations/media/texts/96abdb5144424a78.svg
src/animations/media/texts/261a0e911884cd6c.svg
src/animations/media/texts/122620d86565c272.svg
src/animations/media/texts/871231fe2ed102af.svg
src/animations/media/texts/5893873c75dae6e6.svg
src/animations/media/texts/acc61d5fcd0ab28f.svg
src/animations/media/texts/b9a7147cc3501a52.svg
src/animations/media/texts/b44ec84ccf79518c.svg
src/animations/media/texts/c25bf80fd7290e12.svg
src/animations/media/texts/db9d5edeb6bdfddd.svg
src/animations/media/texts/f8031fce4ee606e3.svg
src/animations/media/videos/llmanim/1080p60/GenScene.mp4
src/animations/media/videos/llmanim/1080p60/MovingGroupToDestination.mp4
src/animations/media/videos/llmanim/1080p60/train.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_489052458_1370900109.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_498431612_188224963.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_498431612_289891261.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_498431612_462932747.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_498431612_2160759755.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_696584917_3734583830.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_1254702705_1203554902.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_1351602124_1534500120.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_1351602124_3314243858.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_1651616712_242300015.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_1651616712_1156456710.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_1651616712_1646049740.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_1651616712_1681235776.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_1757980715_933006721.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_1783121984_1627991104.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_2189993527_1203554902.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_2238161557_3561742645.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_2287584282_275782829.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_2287584282_296747347.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_2287584282_3230243051.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_2287584282_3834664626.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_2287584282_4140746075.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_2717205621_993952577.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_3359402433_2698645258.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_3847107919_2228963461.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_3847107919_2293907755.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_3986238982_4119929305.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_4010537831_3734583830.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/2852726489_4229340204_993952577.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/3977891868_423705054_223132457.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/3977891868_2157103047_223132457.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/3977891868_2256224708_223132457.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/3977891868_3190247995_223132457.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/3977891868_4119639041_223132457.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/GenScene/partial_movie_file_list.txt
src/animations/media/videos/llmanim/1080p60/partial_movie_files/MovingGroupToDestination/2852726489_3394500337_2821624176.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/MovingGroupToDestination/3977891868_2582841707_4094722062.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/MovingGroupToDestination/partial_movie_file_list.txt
src/animations/media/videos/llmanim/1080p60/partial_movie_files/train/2852726489_1116653794_2220880527.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/train/2852726489_1593131966_478963124.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/train/3977891868_3791286039_223132457.mp4
src/animations/media/videos/llmanim/1080p60/partial_movie_files/train/partial_movie_file_list.txt
src/animations/videos/SquareToCircle.png
